#gameoflife-controller {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 50px;
  background-color: #5f5f5f;
  z-index: 1;

  * {
    user-select: none;
  }

  .menu {
    display: inline-block;
    position: absolute;
    margin: 50px 10px 10px -200%;
    width: 50px;
    border-radius: 50px;
    background-color: gray;
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: top left;
    transition: 0.3s;
    z-index: -1;

    &.show {
      margin-left: 10px;
      opacity: 1;
    }

    > * {
      transform: rotate(90deg);
    }
  }

  .button {
    margin: 10px;
    border: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 20px;
    appearance: none;
    transition: 0.3s top;
    cursor: pointer;
  }

  .input {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;

    &.hide {
      display: none;
    }

    img {
      position: absolute;
      left: 0px;
      width: 40px;
      height: 40px;
      background-size: cover;
      opacity: 0.3;
    }

    input {
      position: absolute;
      left: 0px;
      width: 40px;
      height: 40px;
      border: none;
      padding: 0px;
      background: none;
      color: white;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .colorpicker {
    margin: 10px 15px;

    &.hide {
      display: none;
    }
  }

  .toggle-button {
    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }
}
